node_modules
npm-debug.log
db.json
db.json.lock

__pycache__/
.idea/
.vscode/
**/dist/
**/node_modules/
test/coverage/
**/tmp/*
bridges/python/.venv/*
downloads/*
logs/*
server/src/config/**/*.json
bin/deepspeech/*
bin/flite/*

*.pyc
.DS_Store
*.sublime-workspace
npm-debug.log
debug.log
.env
!**/.gitkeep
!bridges/python/.venv/.gitkeep
!**/*.sample*
packages/**/config/config.json
packages/**/data/db/*.json
data/model.nlp
package.json.backup
.python-version
